@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;500;700&display=swap');

html, 
body, 
#root, 
.app, 
.content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Scrollbard Handle Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
